
#H2_register{
  padding-top: 1.5rem;
}
#a_login{
  color: #333;
}
#a_login:hover{
  color: #da5767;
  text-decoration: none;
}
#register_card{
  border: 0.40rem solid #f8f9fa;
  top: 10%;
}
.form_control_{
  background-color: #f8f9fa;
  width: 400px;
  height: 50px;
  padding: 20px;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
}

.form_control_:focus {

    color: #000000;
    background-color: #ffffff;
    border: 3px solid #da5767;
    outline: 0;
    box-shadow: none;

}

.login_btn{
  padding: 0.6rem 1.2rem;
  background: #da5767;
  border: 2px solid #da5767;
}
.login_btn:hover {
    background-color: #df8c96;
    border-color: #df8c96;
  transition: .3s;
}